{% extends "base.html" %}
{% block content %}
<h2>Привіт, {{ name }}</h2>
<a href="{{ url_for('protect') }}" class="btn btn-primary my-3">+ Захистити новий трек</a>

<table class="table bg-white">
    <thead>
        <tr>
            <th>Назва</th>
            <th>ISRC</th>
            <th>Статус</th>
            <th>Завантажити</th>
        </tr>
    </thead>
    <tbody>
        {% for track in tracks %}
        <tr>
            <td>{{ track.title }}</td>
            <td>{{ track.isrc }}</td>
            <td>
                {% if track.watermark %}
                    <span class="badge bg-success">Захищено (ID: {{ track.watermark.watermark_payload }})</span>
                {% else %}
                    <span class="badge bg-warning">В обробці</span>
                {% endif %}
            </td>
            <!-- <td>
                {% if track.watermark %}
                    <a href="{{ url_for('download_cert', filename=track.watermark.pdf_certificate) }}">Завантажити PDF</a>
                {% endif %}
            </td> -->
            <td>
                {% if track.watermark %}
                    <a href="{{ url_for('download_cert', filename=track.watermark.pdf_certificate) }}" class="btn btn-sm btn-outline-secondary">PDF Сертифікат</a>
                    <a href="{{ url_for('download_track', filename=track.filename) }}" class="btn btn-sm btn-outline-secondary">.WAV аудіофайл</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}